<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-card *ngIf="!sortedEvents?.length">
    <ion-item lines="none">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
      </ion-card-header>
      <ion-icon slot="end" name="arrow-down"></ion-icon>
      <ion-card-content>
        Create an event and invite guests!
    </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-list>
    <div *ngFor="let userEvent of sortedEvents">
      <app-event-card
        [userEvent]="userEvent"
      ></app-event-card>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToCreateEventPage()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
