<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon *ngIf="userHub?.isOwner" class="ion-padding-end" size="large" name="qr-code-outline" href="javascript:void(0);" (click)="goToQrPage()"></ion-icon>
      <ion-icon size="large" name="ellipsis-vertical-outline" href="javascript:void(0);" (click)="presentActionSheet()"></ion-icon>
    </ion-buttons>

    <ion-title *ngIf="!loading && userHub">{{userHub?.hub.name}}</ion-title>
    <ion-title *ngIf="loading">Hub</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-md="6">
        <app-hub-card 
        *ngIf="!loading && userHub" 
        [hub]="userHub?.hub" 
        [coords]="locationService.location" 
        [starred]="userHub?.starred"
        [muted]="userHub.muted"
        [isOwner]="userHub?.isOwner" 
        [showDescription]="true"
        [includeMap]="true"
        [compact]="false">
      </app-hub-card>

      <ion-list *ngIf="!loading && userHub && !userHub?.hub.active">
        <ion-list-header>
          <ion-text>Hub Inactive</ion-text>
        </ion-list-header>
    
        <ion-item lines="none">
          <ion-note>Hub member's presence information is only available when the hub is set to active by the admin.
          </ion-note>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-list-header>
          <ion-label>Events</ion-label>
          <ion-button *ngIf="userHub?.isOwner" (click)="goToCreateEventPage()">
             <ion-icon name="add" size="large"></ion-icon>
          </ion-button>
        </ion-list-header>
        
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-nowrap horizontal-scroll">
            <ion-col size="10" *ngFor="let event of userHub?.hub?.events">
              <app-event-card
              [userEvent]="{event}"
              ></app-event-card>
            </ion-col>
            <ion-col size="12" *ngIf="!userHub?.hub?.events?.length">
              <ion-card *ngIf="userHub?.isOwner">
                <ion-item button lines="none" (click)="goToCreateEventPage()">
                  <ion-icon slot="end" name="calendar"></ion-icon>
                  <ion-card-content>
                    Create an Event and invite people for them to see all your Events at this Hub!
                </ion-card-content>
                </ion-item>
              </ion-card>
              <ion-card *ngIf="!userHub?.isOwner">
                <ion-item lines="none">
                  <ion-icon slot="end" name="calendar"></ion-icon>
                  <ion-card-content>
                    Events at this Hub, by the Admin, will be listed here.
                </ion-card-content>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      </ion-col>
      <ion-col size="12" size-md="6">      
        <ion-list *ngIf="userHub && !userHub?.hub.active">
          <ion-list-header>
            <ion-text>Members</ion-text>
          </ion-list-header>
      
          <div *ngFor="let userConnection of userHub?.hub.usersConnection; trackBy: trackByUser">
            <ion-item href="javascript:void(0);" (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
              <ion-avatar slot="start">
                <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
                <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
              </ion-avatar>
              <ion-label>
                <h3 class="ion-float-left">
                  <ion-text *ngIf="!userConnection.user.blocked">
                    {{userConnection.user.firstName && userConnection.user.lastName 
                      ? userConnection.user.firstName + ' ' + userConnection.user.lastName  : userConnection.user.username}}
                  </ion-text>
                  <ion-text style='text-decoration:line-through' *ngIf="userConnection.user.blocked">
                    {{userConnection.user.firstName && userConnection.user.lastName 
                      ? userConnection.user.firstName + ' ' + userConnection.user.lastName  : userConnection.user.username}}
                  </ion-text>
                </h3>
                <p *ngIf="userConnection.user.blocked" class="ion-float-right">
                  <ion-text>Blocked</ion-text>
                </p>
                <p *ngIf="userConnection.isOwner" class="ion-float-right">
                  <ion-text>Admin</ion-text>
                </p>
              </ion-label>
              <ion-icon
                *ngIf="userConnection.user.phoneNumber"
                name="call-outline"
                slot="end" 
                (click)="openPhone($event, userConnection.user.phoneNumber)"
              ></ion-icon>
              <ion-icon
                *ngIf="userConnection.user.phoneNumber"
                name="chatbubble-outline" 
                slot="end" 
                (click)="openSms($event, userConnection.user.phoneNumber)"
              ></ion-icon>
            </ion-item>
          </div>
        </ion-list>
      
        <ion-list *ngIf="userHub && userHub?.hub.active">
          <ion-list-header *ngIf="present?.length">
            <ion-text>Present</ion-text>
          </ion-list-header>
      
          <div *ngFor="let userConnection of present; trackBy: trackByUser">
            <ion-item href="javascript:void(0);"
              (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
              <ion-avatar slot="start">
                <img width="100%" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
                <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>
                  <ion-text *ngIf="!userConnection.user.blocked">
                    {{userConnection.user.firstName && userConnection.user.lastName 
                      ? userConnection.user.firstName + ' ' + userConnection.user.lastName  : userConnection.user.username}}
                  </ion-text>
                  <ion-text style='text-decoration:line-through' *ngIf="userConnection.user.blocked">
                    {{userConnection.user.firstName && userConnection.user.lastName 
                      ? userConnection.user.firstName + ' ' + userConnection.user.lastName  : userConnection.user.username}}
                  </ion-text>
                </h2>
                <p *ngIf="userConnection.user.blocked" class="ion-float-right">
                  <ion-text>Blocked</ion-text>
                </p>
                <p *ngIf="userConnection.isOwner" class="ion-float-right">
                  <ion-text>Admin</ion-text>
                </p>
                <p>Last Online: {{(userConnection?.user?.lastOnline) ? (((userConnection?.user?.lastOnline / 1000) | amFromUnix)
                  | amLocal | amTimeAgo) : 'N/A'}}</p>
              </ion-label>
              <ion-icon 
                *ngIf="userConnection.user.phoneNumber"
                name="call-outline"
                slot="end" 
                (click)="openPhone($event, userConnection.user.phoneNumber)"
              ></ion-icon>
              <ion-icon
                *ngIf="userConnection.user.phoneNumber"
                name="chatbubble-outline" 
                slot="end" 
                (click)="openSms($event, userConnection.user.phoneNumber)"
              ></ion-icon>
            </ion-item>
          </div>
      
        </ion-list>
      
        <ion-list *ngIf="userHub && userHub?.hub.active">
          <ion-list-header *ngIf="away?.length">
            <ion-text>Away</ion-text>
          </ion-list-header>
      
          <div *ngFor="let userConnection of away; trackBy: trackByUser">
            <ion-item href="javascript:void(0);"
              (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
              <ion-avatar slot="start">
                <img width="100%" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
                <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>
                  <ion-text *ngIf="!userConnection.user.blocked">
                    {{userConnection.user.firstName && userConnection.user.lastName 
                      ? userConnection.user.firstName + ' ' + userConnection.user.lastName  : userConnection.user.username}}
                  </ion-text>
                  <ion-text style='text-decoration:line-through' *ngIf="userConnection.user.blocked">
                    {{userConnection.user.firstName && userConnection.user.lastName 
                      ? userConnection.user.firstName + ' ' + userConnection.user.lastName  : userConnection.user.username}}
                  </ion-text>
                </h2>
                <p *ngIf="userConnection.user.blocked" class="ion-float-right">
                  <ion-text>Blocked</ion-text>
                </p>
                <p *ngIf="userConnection.isOwner" class="ion-float-right">
                  <ion-text>Admin</ion-text>
                </p>
                <p>Last Online: {{(userConnection?.user?.lastOnline) ? (((userConnection?.user?.lastOnline / 1000) | amFromUnix)
                  | amLocal | amTimeAgo) : 'N/A'}}</p>
              </ion-label>
              <ion-icon
                *ngIf="userConnection.user.phoneNumber"
                name="call-outline"
                slot="end" 
                (click)="openPhone($event, userConnection.user.phoneNumber)"
              ></ion-icon>
              <ion-icon
                *ngIf="userConnection.user.phoneNumber"
                name="chatbubble-outline" 
                slot="end" 
                (click)="openSms($event, userConnection.user.phoneNumber)"
              ></ion-icon>
            </ion-item>
          </div>
      
        </ion-list>
      
        <div *ngIf="loading">
      
          <ion-list *ngIf="loading">
            <ion-list-header>
              <ion-text>Present</ion-text>
            </ion-list-header>
      
            <div *ngFor="let number of [0,1,2]">
      
              <ion-item>
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
      
            </div>
      
            <ion-list-header>
              <ion-text>Away</ion-text>
            </ion-list-header>
      
            <div *ngFor="let number of [0,1,2]">
      
              <ion-item>
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
      
            </div>
      
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="userHub?.isOwner">
    <ion-fab-button (click)="toggleInviteModal()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer translucent="true">
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row *ngIf="!loading && userHub as userHub" class="ion-padding-start ion-padding-end">
        <ion-col size="4" [appFeatureFlag]="'uberRequestRide'" class="ion-padding-end">
          <ion-button color="medium" fill="clear" (click)="requestRide(userHub)">
            <ion-icon style="font-size: 64px;" src="assets/icons/Uber_Logo_White_RGB.svg"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button color="medium" fill="clear" (click)="navigate(userHub)">
            <ion-icon class="ion-padding-start"  name="map"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button [color]="userHub.hub.active ? 'success' : 'medium'" fill="clear" (click)="toggleActivity()">
            <ion-icon class="ion-padding-start"  name="bulb-outline"></ion-icon>
          </ion-button>
        </ion-col> 
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ion-modal
#modal
[isOpen]="inviteModalIsOpen"
[canDismiss]="true"
[presentingElement]="routerOutlet.nativeEl"
(didDismiss)="didDismissInviteModal()"
>
<ng-template>
<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="modal.dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Invite</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <app-invite
    *ngIf="notYetInvitedPeople"
   [inviteType]="'hub'"
   [id]="id"
   [persons]="notYetInvitedPeople"
   [shareableLink]="'https://hub.lazz.tech/hub/' + userHub.hub?.shareableId"
   [qrData]="'https://hub.lazz.tech/hub/' + userHub.hub?.shareableId"
   [qrTitle]="userHub?.hub?.name"
   [qrSubtitle]="'Scan to join hub @ ' + userHub?.hub.locationLabel"
   [modal]="modal"
  ></app-invite>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar>
    <ion-button expand="block" (click)="sendInvites()">Send
    </ion-button>
  </ion-toolbar>
</ion-footer>
</ng-template>
</ion-modal>