<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        </ion-buttons>
    <ion-title>People</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            refreshingSpinner="dots">
        </ion-refresher-content>
    </ion-refresher>

    <ion-searchbar (ionInput)="filterPeople($event)" showCancelButton="focus"></ion-searchbar>

    <ion-card *ngIf="!loading && !alphabetizedPersons?.length">
      <ion-item lines="none">
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Your common community members of shared Hubs will show up here. Create your first Hub and invite people to get started!
      </ion-card-content>
      </ion-item>
    </ion-card>

    <ion-list *ngIf="!loading && filter === ''">
      <div *ngFor="let item of alphabetizedPersons | keyvalue">
        <div *ngIf="item?.value?.length">
          <ion-item-divider>
            <ion-label>
              {{item.key | uppercase}}
            </ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let person of item.value" href="javascript:void(0);" (click)="goToPersonPage(person.id, person)">
            <ion-avatar slot="start">
                  <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image" src="{{person.id | avatar}}">
                  <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>
                <ion-text *ngIf="!person.blocked">{{person.firstName}} 
                  <ion-text style='font-weight: bold'>{{person.lastName}}</ion-text></ion-text>
                <ion-text *ngIf="person.blocked" style='text-decoration:line-through'>
                  {{person.firstName}} {{person.lastName}}
                </ion-text>
              </h2>
              <p *ngIf="person.blocked" class="ion-float-right">
                <ion-text>Blocked</ion-text>
              </p>
              <p>Last Online: {{(person?.lastOnline) ? (((person?.lastOnline / 1000) | amFromUnix)
                | amLocal | amTimeAgo) : 'N/A'}}</p>
            </ion-label>
            <ion-icon
              *ngIf="person?.phoneNumber"
              name="call-outline"
              slot="end" 
              (click)="openPhone($event, person?.phoneNumber)"
            ></ion-icon>
            <ion-icon
              *ngIf="person?.phoneNumber"
              name="chatbubble-outline" 
              slot="end" 
              (click)="openSms($event, person?.phoneNumber)"
            ></ion-icon>
          </ion-item>
        </div>
      </div>
    </ion-list>

    <ion-list *ngIf="!loading && filter !== ''">
      <ion-item *ngFor="let person of filteredPersons?.data?.usersPeople" href="javascript:void(0);" (click)="goToPersonPage(person.id, person)">
        <ion-avatar slot="start">
              <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image" src="{{person.id | avatar}}">
              <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-text *ngIf="!person.blocked">{{person.firstName}} {{person.lastName}}</ion-text>
            <ion-text *ngIf="person.blocked" style='text-decoration:line-through'>
              {{person.firstName}} {{person.lastName}}
            </ion-text>
          </h2>
          <p *ngIf="person.blocked" class="ion-float-right">
            <ion-text>Blocked</ion-text>
          </p>
          <p>Last Online: {{(person?.lastOnline) ? (((person?.lastOnline / 1000) | amFromUnix)
            | amLocal | amTimeAgo) : 'N/A'}}</p>
        </ion-label>
        <ion-icon
          *ngIf="person?.phoneNumber"
          name="call-outline"
          slot="end" 
          (click)="openPhone($event, person?.phoneNumber)"
        ></ion-icon>
        <ion-icon
          *ngIf="person?.phoneNumber"
          name="chatbubble-outline" 
          slot="end" 
          (click)="openSms($event, person?.phoneNumber)"
        ></ion-icon>
      </ion-item>
    </ion-list>

      <ion-list *ngIf="loading">
          <ion-list-header>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-list-header>
          <ion-item *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>

</ion-content>
