<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon size="large" name="qr-code-outline" href="javascript:void(0);" (click)="goToQrPage()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon size="large" name="images-outline" href="javascript:void(0);" (click)="goToDiscoverPage()"></ion-icon>
    </ion-buttons>
    <ion-title>People</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            refreshingSpinner="dots">
        </ion-refresher-content>
    </ion-refresher>

    <ion-searchbar (ionInput)="filterPeople($event)" showCancelButton="focus" placeholder="Search People"></ion-searchbar>


<ion-list *ngIf="!loading && filter === '' && userResult?.data?.me as user">

  <ion-item href="javascript:void(0);" (click)="goToProfilePage()" detail="true" lines="none" style="padding-bottom: 24px; padding-top: 12px;">
    <div slot="start" style="width:70px; height:70px;">
      <ion-avatar style="width: 100%; height: 100%;">
        <img
          [appFeatureFlag]="'adorableAvatarsUserImage'"
          *ngIf="!user.image"
          [src]="user.id | avatar" />

        <ion-img
          *ngIf="user.image"
          [src]="user.image">
        </ion-img>
      </ion-avatar>
    </div>

    <ion-label>
      <h2>
        <ion-text *ngIf="user.firstName || user.lastName" style="font-weight: bold">
          {{ user.firstName }} {{ user.lastName }}
        </ion-text>
        <ion-text *ngIf="!user.firstName && !user.lastName && user.username" style="font-weight: bold">
          {{ user.username }}
        </ion-text>
      </h2>
      <p>
        View Your Profile
      </p>
    </ion-label>
  </ion-item>
</ion-list>


    <app-claim-your-account-dialog />

    <ion-item lines="none" *ngIf="!loading && !personsResult?.data?.usersPeople?.length">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        People from Places you’re part of will appear here. Create or join a Place to start building community!
    </ion-card-content>
    </ion-item>

    <ion-list *ngIf="!loading && filter === ''">
      <div *ngFor="let item of alphabetizedPersons | keyvalue">
        <div *ngIf="item?.value?.length">
          <ion-item-divider>
            <ion-label>
              {{item.key | uppercase}}
            </ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let person of item.value" href="javascript:void(0);" (click)="goToPersonPage(person.id, person)">
            <ion-avatar slot="start">
                  <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image" src="{{person.id | avatar}}">
                  <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>
                <ion-text *ngIf="!person.blocked">{{person.firstName}} 
                  <ion-text style='font-weight: bold'>{{person.lastName}}</ion-text>
                </ion-text>
                <ion-text *ngIf="!person.blocked && !person.firstName && !person.lastName && person.username" style='font-weight: bold'>
                  {{person.username}}
                </ion-text>
                <ion-text *ngIf="person.blocked" style='text-decoration:line-through'>
                  {{person.firstName}} {{person.lastName}}
                </ion-text>
              </h2>
              <p *ngIf="person.blocked" class="ion-float-right">
                <ion-text>Blocked</ion-text>
              </p>
              <p>Last Online: {{(person?.lastOnline) ? (((person?.lastOnline / 1000) | amFromUnix)
                | amLocal | amTimeAgo) : 'N/A'}}</p>
            </ion-label>
            <ion-icon
              class="ion-padding-end"
              *ngIf="person?.phoneNumber"
              name="call-outline"
              slot="end" 
              (click)="openPhone($event, person?.phoneNumber)"
            ></ion-icon>
            <ion-icon
              *ngIf="person?.phoneNumber"
              name="chatbubble-outline" 
              slot="end" 
              (click)="openSms($event, person?.phoneNumber)"
            ></ion-icon>
          </ion-item>
        </div>
      </div>
    </ion-list>

    <ion-list *ngIf="!loading && filter !== ''">
      <ion-item *ngFor="let person of filteredPersons?.data?.usersPeople" href="javascript:void(0);" (click)="goToPersonPage(person.id, person)">
        <ion-avatar slot="start">
              <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image" src="{{person.id | avatar}}">
              <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-text *ngIf="!person.blocked && person.firstName && person.lastName">{{person.firstName}} {{person.lastName}}</ion-text>
            <ion-text *ngIf="!person.blocked && !person.firstName && !person.lastName && person.username">{{person.username}}</ion-text>
            <ion-text *ngIf="person.blocked" style='text-decoration:line-through'>
              {{person.firstName}} {{person.lastName}}
            </ion-text>
          </h2>
          <p *ngIf="person.blocked" class="ion-float-right">
            <ion-text>Blocked</ion-text>
          </p>
          <p>Last Online: {{(person?.lastOnline) ? (((person?.lastOnline / 1000) | amFromUnix)
            | amLocal | amTimeAgo) : 'N/A'}}</p>
        </ion-label>
        <ion-icon
          class="ion-padding-end"
          *ngIf="person?.phoneNumber"
          name="call-outline"
          slot="end" 
          (click)="openPhone($event, person?.phoneNumber)"
        ></ion-icon>
        <ion-icon
          *ngIf="person?.phoneNumber"
          name="chatbubble-outline" 
          slot="end" 
          (click)="openSms($event, person?.phoneNumber)"
        ></ion-icon>
      </ion-item>
    </ion-list>

      <ion-list *ngIf="loading">
          <ion-list-header>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-list-header>
          <ion-item *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>

</ion-content>
