<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-event-card></app-event-card>

  <ion-grid class="ion-no-padding">
    <ion-row>

      <ion-col class="ion-padding-start">
        <ion-button color="primary" expand="full">
          Ride with
          <ion-icon style="font-size: 64px;" src="/assets/icons/Uber_Logo_White_RGB.svg"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col class="ion-padding-start ion-padding-end">
        <ion-button color="primary" expand="full" color="danger">
          Navigate
          <ion-icon class="ion-padding-start" size="large" name="map"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-text>Present</ion-text>
    </ion-list-header>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-text>Going</ion-text>
    </ion-list-header>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-text>Maybe</ion-text>
    </ion-list-header>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-text>Can't Go</ion-text>
    </ion-list-header>
  </ion-list>

</ion-content>
