<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-event-card
    [userEvent]="userEventQueryResult?.data?.event"
    [includeMap]="true"
  ></app-event-card>

  <ion-grid class="ion-no-padding">
    <ion-row>

      <ion-col class="ion-padding-start">
        <ion-button color="primary" expand="full">
          Ride with
          <ion-icon style="font-size: 64px;" src="/assets/icons/Uber_Logo_White_RGB.svg"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col class="ion-padding-start ion-padding-end">
        <ion-button color="primary" expand="full" color="danger">
          Navigate
          <ion-icon class="ion-padding-start" size="large" name="map"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-text>Present</ion-text>
    </ion-list-header>

    <div *ngFor="let userConnection of userEventQueryResult?.data?.event?.event?.usersConnection; trackBy: trackByUser">
      <ion-item *ngIf="userConnection?.isPresent" href="javascript:void(0);"
        (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
        <ion-avatar slot="start">
          <img width="100%" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
          <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-text *ngIf="!userConnection.user.blocked">{{userConnection.user.firstName}} {{userConnection.user.lastName}}</ion-text>
            <ion-text style='text-decoration:line-through' *ngIf="userConnection.user.blocked">
              {{userConnection.user.firstName}} {{userConnection.user.lastName}}
            </ion-text>
          </h2>
          <p *ngIf="userConnection.user.blocked" class="ion-float-right">
            <ion-text>Blocked</ion-text>
          </p>
          <p>Last Online: {{(userConnection?.user?.lastOnline) ? (((userConnection?.user?.lastOnline / 1000) | amFromUnix)
            | amLocal | amTimeAgo) : 'N/A'}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-text>Going</ion-text>
    </ion-list-header>

    <div *ngFor="let userConnection of userEventQueryResult?.data?.event?.event?.usersConnection; trackBy: trackByUser">
      <ion-item *ngIf="userConnection?.rsvp == 'going'" href="javascript:void(0);"
        (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
        <ion-avatar slot="start">
          <img width="100%" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
          <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-text *ngIf="!userConnection.user.blocked">{{userConnection.user.firstName}} {{userConnection.user.lastName}}</ion-text>
            <ion-text style='text-decoration:line-through' *ngIf="userConnection.user.blocked">
              {{userConnection.user.firstName}} {{userConnection.user.lastName}}
            </ion-text>
          </h2>
          <p *ngIf="userConnection.user.blocked" class="ion-float-right">
            <ion-text>Blocked</ion-text>
          </p>
          <p>Last Online: {{(userConnection?.user?.lastOnline) ? (((userConnection?.user?.lastOnline / 1000) | amFromUnix)
            | amLocal | amTimeAgo) : 'N/A'}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-text>Maybe</ion-text>
    </ion-list-header>

    <div *ngFor="let userConnection of userEventQueryResult?.data?.event?.event?.usersConnection; trackBy: trackByUser">
      <ion-item *ngIf="userConnection?.rsvp == 'maybe'" href="javascript:void(0);"
        (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
        <ion-avatar slot="start">
          <img width="100%" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
          <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-text *ngIf="!userConnection.user.blocked">{{userConnection.user.firstName}} {{userConnection.user.lastName}}</ion-text>
            <ion-text style='text-decoration:line-through' *ngIf="userConnection.user.blocked">
              {{userConnection.user.firstName}} {{userConnection.user.lastName}}
            </ion-text>
          </h2>
          <p *ngIf="userConnection.user.blocked" class="ion-float-right">
            <ion-text>Blocked</ion-text>
          </p>
          <p>Last Online: {{(userConnection?.user?.lastOnline) ? (((userConnection?.user?.lastOnline / 1000) | amFromUnix)
            | amLocal | amTimeAgo) : 'N/A'}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-text>Can't Go</ion-text>
    </ion-list-header>

    <div *ngFor="let userConnection of userEventQueryResult?.data?.event?.event?.usersConnection; trackBy: trackByUser">
      <ion-item *ngIf="userConnection?.rsvp == 'cantgo'" href="javascript:void(0);"
        (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
        <ion-avatar slot="start">
          <img width="100%" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
          <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-text *ngIf="!userConnection.user.blocked">{{userConnection.user.firstName}} {{userConnection.user.lastName}}</ion-text>
            <ion-text style='text-decoration:line-through' *ngIf="userConnection.user.blocked">
              {{userConnection.user.firstName}} {{userConnection.user.lastName}}
            </ion-text>
          </h2>
          <p *ngIf="userConnection.user.blocked" class="ion-float-right">
            <ion-text>Blocked</ion-text>
          </p>
          <p>Last Online: {{(userConnection?.user?.lastOnline) ? (((userConnection?.user?.lastOnline / 1000) | amFromUnix)
            | amLocal | amTimeAgo) : 'N/A'}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-text>No Reply</ion-text>
    </ion-list-header>

    <div *ngFor="let userConnection of userEventQueryResult?.data?.event?.event?.usersConnection; trackBy: trackByUser">
      <ion-item *ngIf="!userConnection?.rsvp" href="javascript:void(0);"
        (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
        <ion-avatar slot="start">
          <img width="100%" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
          <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-text *ngIf="!userConnection.user.blocked">{{userConnection.user.firstName}} {{userConnection.user.lastName}}</ion-text>
            <ion-text style='text-decoration:line-through' *ngIf="userConnection.user.blocked">
              {{userConnection.user.firstName}} {{userConnection.user.lastName}}
            </ion-text>
          </h2>
          <p *ngIf="userConnection.user.blocked" class="ion-float-right">
            <ion-text>Blocked</ion-text>
          </p>
          <p>Last Online: {{(userConnection?.user?.lastOnline) ? (((userConnection?.user?.lastOnline / 1000) | amFromUnix)
            | amLocal | amTimeAgo) : 'N/A'}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  
  <ion-list-header class="ion-padding-bottom">
    <ion-text>Invite</ion-text>
  </ion-list-header>

  <ion-item [appFeatureFlag]="'inviteUsersCheckList'" *ngFor="let person of persons | async">
    <ion-avatar slot="start">
      <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image"
        src="{{person.id | avatar}}">
      <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
    </ion-avatar>
    <ion-label>
      <ion-text>{{person.firstName}} {{person.lastName}}</ion-text>
    </ion-label>
    <ion-checkbox  [value]='person.email' (click)='checkboxChanged(person)' slot="end"></ion-checkbox>
  </ion-item>

</ion-content>
