<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Change Phone Number</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="myForm" (ngSubmit)="changePhoneNumber()" method="post">
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="ion-no-padding">
          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-select value="US">
              <div *ngFor="let country of countries">
                <ion-select-option value="{{country.region}}">{{country.flag}} +{{country.code}} {{country.region}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="8" class="ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input type="tel" formControlName="phoneNumber" placeholder="(555) 555-5555" [value]="phoneNumber.value | phoneNumberFormatter:'US'"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
      
      <br/>
  
      <ion-button [disabled]="myForm.invalid" type="submit" expand="block" color="primary">Send</ion-button>
    </form>

</ion-content>
