<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>{{seedType == 'hub' ? 'Hub' : 'Event'}} Photos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-icon size="large" name="grid-outline"></ion-icon>
    </ion-buttons> -->
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{seedType == 'hub' ? 'Hub' : 'Event'}} Photos</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list>
      <div *ngFor="let fileJoin of seed?.fileUploads">
        <ion-list-header>
          Shared by {{fileJoin?.file?.createdBy?.firstName}} {{fileJoin?.file?.createdBy?.lastName}}
        </ion-list-header>
        <div class="ion-padding">
          <ion-img src="{{fileJoin?.file?.url}}" style="width: 100%;"></ion-img>
        </div>
      </div>

    </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer translucent="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>