  <form [formGroup]="myForm" (ngSubmit)="inviteUser()" method="post">

    <ion-list-header class="ion-padding-bottom">
      Shareable Link
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="copyShareLink()">
            Copy Link
            <ion-icon class="ion-padding-start" name="clipboard-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="share()">
            Share
            <ion-icon class="ion-padding-start" name="share-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list-header class="ion-padding-bottom">
      Scan Code to Invite
    </ion-list-header>
    
    <ion-button expand="block" class="ion-padding-start ion-padding-end" (click)="goToQrPage()">
      Scan Code
      <ion-icon class="ion-padding-start" name="qr-code-outline"></ion-icon>
    </ion-button>

    <ion-list-header>
      People
    </ion-list-header>

    <!-- <ion-searchbar (ionInput)="filterPeople($event)" showCancelButton="focus"></ion-searchbar> -->

    <ion-list *ngIf="!loading && filter === ''">
      <div *ngFor="let item of alphabetizedPersons | keyvalue">
        <div *ngIf="item?.value?.length">
          <ion-item-divider>
            <ion-label>
              {{item?.key | uppercase}}
            </ion-label>
          </ion-item-divider>
        </div>
        <ion-item *ngFor="let person of item.value">
          <ion-avatar slot="start">
            <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image"
              src="{{person.id | avatar}}">
            <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
          </ion-avatar>
          <ion-label>
            <ion-text>{{person.firstName}} {{person.lastName}}</ion-text>
          </ion-label>
          <ion-checkbox [value]='person.email' (click)='checkboxChanged(person)' slot="end"></ion-checkbox>
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngIf="!loading && filter !== ''">
      <ion-item *ngFor="let person of filteredPersons">
        <ion-avatar slot="start">
          <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image"
            src="{{person.id | avatar}}">
          <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <ion-text>{{person.firstName}} {{person.lastName}}</ion-text>
        </ion-label>
        <ion-checkbox [value]='person.email' (click)='checkboxChanged(person)' slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>

  </form>