  <form [formGroup]="myForm" (ngSubmit)="inviteUser()" method="post">

    <ion-list-header class="ion-padding-bottom">
      Shareable Link
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="copyShareLink()">
            Copy Link
            <ion-icon class="ion-padding-start" name="clipboard-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="share()">
            Share
            <ion-icon class="ion-padding-start" name="share-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list-header class="ion-padding-bottom">
      Invite by QR code
    </ion-list-header>
    
    <ion-button expand="block" (click)="scanQR()" class="ion-padding-start ion-padding-end">
      Scan Code
      <ion-icon class="ion-padding-start" name="qr-code-outline"></ion-icon>
    </ion-button>

    <ion-text class="ion-padding-start ion-padding-end ion-text-center" *ngIf="email.invalid && email.touched" color="danger">
      Please enter a valid email address
    </ion-text>

    <ion-list-header class="ion-padding-bottom">
      Connected People
    </ion-list-header>

    <ion-list *ngIf="!loading">

      <ion-item *ngFor="let person of persons">
        <ion-avatar slot="start">
          <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image"
            src="{{person.id | avatar}}">
          <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <ion-text>{{person.firstName}} {{person.lastName}}</ion-text>
        </ion-label>
        <ion-checkbox [value]='person.email' (click)='checkboxChanged(person)' slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>

  </form>