  <form [formGroup]="myForm" (ngSubmit)="inviteUser()" method="post">

    <ion-list-header class="ion-padding-bottom">
      Shareable Invite Link
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="copyShareLink()">
            Copy Link
            <ion-icon class="ion-padding-start" name="clipboard-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="share()">
            Share
            <ion-icon class="ion-padding-start" name="share-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list-header class="ion-padding-bottom">
      Scan Code to Invite
    </ion-list-header>
    
    <ion-button expand="block" class="ion-padding-start ion-padding-end" (click)="goToQrPage()">
      Scan Code
      <ion-icon class="ion-padding-start" name="qr-code-outline"></ion-icon>
    </ion-button>

    <ion-list-header>
      <ion-select [value]="showPeopleFrom" class="ion-no-padding ion-padding-end" (ionChange)="showPeopleFromChanged($event)">
        <ion-select-option value="all-people">All People</ion-select-option>
        <ion-select-option value="events-i-hosted">Events I Hosted</ion-select-option>
        <ion-select-option value="events-im-invited-to">Events I'm Invited To</ion-select-option>
        <ion-select-option value="hubs-im-an-admin-of">Hubs I'm an Admin Of</ion-select-option>
        <ion-select-option value="hubs-im-a-member-of">Hubs I’m a Member Of</ion-select-option>
      </ion-select>
    </ion-list-header>
    
    <ion-accordion-group [hidden]="showPeopleFrom === 'all-people'" #filterAccordionGroup class="ion-padding-top">
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label *ngIf="showPeopleFrom === 'events-i-hosted'">{{eventFilter ? eventFilter?.event?.name : 'Events'}}</ion-label>
          <ion-label *ngIf="showPeopleFrom === 'events-im-invited-to'">{{eventFilter ? eventFilter?.event?.name : 'Events'}}</ion-label>
          <ion-label *ngIf="showPeopleFrom === 'hubs-im-an-admin-of'">{{hubFilter ? hubFilter?.hub?.name : 'Hubs'}}</ion-label>
          <ion-label *ngIf="showPeopleFrom === 'hubs-im-a-member-of'">{{hubFilter ? hubFilter?.hub?.name : 'Hubs'}}</ion-label>
        </ion-item>
        <div [hidden]="showPeopleFrom !== 'events-i-hosted'" class="ion-padding" slot="content" *ngFor="let userEvent of eventsIHosted" (click)="eventFilterClicked(userEvent)">
          {{userEvent?.event?.name}}
        </div>
        <div [hidden]="showPeopleFrom !== 'events-im-invited-to'" class="ion-padding" slot="content" *ngFor="let userEvent of eventsImInvitedTo" (click)="eventFilterClicked(userEvent)">
          {{userEvent?.event?.name}}
        </div>
        <div [hidden]="showPeopleFrom !== 'hubs-im-an-admin-of'" class="ion-padding" slot="content" *ngFor="let userHub of hubsImAnAdminOf" (click)="hubFilterClicked(userHub)">
          {{userHub?.hub?.name}}
        </div>
        <div [hidden]="showPeopleFrom !== 'hubs-im-a-member-of'" class="ion-padding" slot="content" *ngFor="let userHub of hubsImAMemberOf" (click)="hubFilterClicked(userHub)">
          {{userHub?.hub?.name}}
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-grid *ngIf="showPeopleFrom !== 'all-people'" class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button fill="clear">Select All</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-searchbar *ngIf="showPeopleFrom === 'all-people'" (ionInput)="filterPeople($event)" showCancelButton="focus"></ion-searchbar>

    <ion-list *ngIf="!loading">
      <div *ngFor="let item of alphabetizedPersons | keyvalue">
        <div *ngIf="item?.value?.length && filter === ''">
          <ion-item-divider>
            <ion-label>
              {{item?.key | uppercase}}
            </ion-label>
          </ion-item-divider>
        </div>
        <div *ngFor="let person of item.value">
          <ion-item [hidden]="personIsFiltered(person)" (ionChange)='checkboxChanged(person)'>
            <ion-avatar slot="start">
              <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!person.image"
                src="{{person.id | avatar}}">
              <ion-img width="100%" *ngIf="person.image" src="{{person.image}}"></ion-img>
            </ion-avatar>
            <ion-label>
                  <ion-text *ngIf="!person.blocked">{{person.firstName}} 
                    <ion-text style='font-weight: bold'>{{person.lastName}}</ion-text></ion-text>
            </ion-label>
            <ion-checkbox [checked]="isChecked(person)" slot="end"></ion-checkbox>
          </ion-item>
        </div>
      </div>
    </ion-list>

  </form>