<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isEnd" (click)="slides.slideNext()" > Next </ion-button>
    </ion-buttons>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding-top" scroll-y="false">
  <ion-slides pager="true" #slides (ionSlideWillChange)="slideChanged()">

    <ion-slide>
      <div class="slide">
        <ion-img src="assets/illustrations/hubs-around.png"  style="width: 65%; margin: auto;"></ion-img>
        <p><b>Lazztech Hub</b> is a tool for bringing communities of people together for in person gatherings.</p>

        <p><b>Hubs</b> use <b>Geo-fences</b> which are a virtual perimeter around the Hub's physical location.</p>

        <p>As a <b>Hub</b> member you can see which of the <b>Hub's</b> community members are presently at the <b>Hub's</b> location.</p>

        <p>This gives you as a user a glanceable overview of who's present at your favorite community gathering spots.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/illustrations/lock.png" style="width: 65%; margin: auto;"></ion-img>
      <p>A <b>Hub</b> is a private invite only virtual community associated with a physical location in the world.<p>
      <p>As the admin of a <b>Hub</b> you can <b>deactivate</b> it at any time to conceal the details of which members are presently away or at the location.<p>
      <p>You may then at any time <b>Reactivate</b> your <b>Hub</b> and members will recieve a notification that the <b>Hub</b> is active.<p>
    </ion-slide>

    <!-- <ion-slide>
      <ion-img src="assets/illustrations/entering-geofence.png" style="width: 65%; margin: auto;"></ion-img>

      <p>You'll need to enable some permissions on your device for the app to function properly.<p>
      <p>For example you'll be prompted to enable the background geo-location for this app so that the <b>Geo-Fences</b> for your <b>Hubs</b> can function properly.</p>

      <p>You'll also be prompted for permission to detect when your device is in motion. This is used to <b>conserve battery</b> by enabling your device to only look for <b>Geo-Fences</b> when you're in motion.</p>
      <ion-button (click)="geoPermissions()">Prompt for permission</ion-button>
      
      <p>The <b>Lazztech Hub App</b> requires your permissions to be configured properly so that the <b>Geo-Fences</b> can function in the background when you enter or exit.</p>
      
      <p><b>Ensure your permission settings match.</b></p>

      <p><b>Location</b> is configured to <b>Always</b></p>
      <p><b>Motion & Fitness</b> is toggled <b>on</b></p>
      <p><b>Background App Refresh</b> is toggled <b>on</b></p>
      <ion-button (click)="openAppSettings()">Verify permissions</ion-button>
    </ion-slide> -->

    <!-- <ion-slide>
      <h2>Bio-Authentication permission</h2>
      <p>This enables <b>Face ID</b> or <b>Fingerprint</b> authentication for login, depending on your device.</p>
      <ion-button>Prompt for permission</ion-button>
    </ion-slide> -->

    <!-- <ion-slide>
      <img src="assets/illustrations/notify.png"/>
      <h2>Push Notification permission</h2>
      <p>You'll also be prompted for push notifications which are optional but recommended.</p>
      <p>These are used for events such as one of the <b>Hubs</b> you're a member of becoming active.</p>
      <ion-button (click)="pushNotifications()">Prompt for permission</ion-button>
    </ion-slide> -->

    <ion-slide>
      <ion-img src="assets/illustrations/hand-checking-hubs.png" style="width: 65%; margin: auto;"></ion-img>

      <h2>Ready?</h2>
      <ion-button fill="clear" (click)="finish()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
