<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        <!-- <img src="assets/tutorial/slide-1.png"/> -->
        <h2>Welcome</h2>
        <p>The <b>Lazztech Hub App</b> is a tool for bringing communities of people together for in person gatherings. It works by fostering private community gatherings by enabling geo-fences around your community <b>Hubs</b></p>
      </div>
    </ion-slide>

    <ion-slide>
      <!-- <img src="assets/tutorial/slide-2.png"/> -->
      <h2>What is a Geo-Fence?</h2>
      <p>A <b>Geo-Fence</b> is a virtual perimeter around a location that your mobile device can detect in the background when you enter or exit</p>
    </ion-slide>

    <ion-slide>
      <!-- <img src="assets/tutorial/slide-3.png"/> -->
      <h2>What is a Hub?</h2>
      <p>A <b>Hub</b> is a private invite only virtual community tied to a physical location in the world. When you create a <b>Hub</b> the coordinates are registered to that <b>Hub</b> via <b>GPS</b>.<p>
    </ion-slide>

    <ion-slide>
      <!-- <img src="assets/tutorial/slide-3.png"/> -->
      <h2>How do Hubs foster gatherings?</h2>
      <p>As <b>Hub</b> member you can see which of the <b>Hub's</b> community members are presently at the <b>Hub's</b> location.</p>
      <p>This gives you as a user a high level overview of what's happening with your favorite community gathering spots.</p>
    </ion-slide>

    <ion-slide>
      <!-- <img src="assets/tutorial/slide-3.png"/> -->
      <h2>What about privacy?</h2>
      <p><b>Hubs</b> are private & invite only which means it's details are only viewable by that <b>Hub's</b> members. No one will be able to see these details without inviting them into the <b>Hub</b>.<p>
    </ion-slide>

    <ion-slide>
      <!-- <img src="assets/tutorial/slide-3.png"/> -->
      <h2>Can I turn a Hub on/off?</h2>
      <p>As the admin of a <b>Hub</b> you can <b>Deactivate</b> it at any time to conceal the details of which members are presently away or at the location.<p>
      <p>You may then at any time <b>Reactivate</b> your <b>Hub</b>. This will send a notification to it's members as a que to that the space is open to gatherings.<p>
    </ion-slide>

    <ion-slide>
      <!-- <img src="assets/tutorial/slide-4.png"/> -->
      <h2>Ready?</h2>
      <ion-button fill="clear" (click)="finish()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
