<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div slot="start" [appFeatureFlag]="'lightDarkThemeToggle'" href="javascript:void(0);" (click)="toggleTheme()">
      <ion-icon size="large" name="moon"></ion-icon>
    </div>
    <div slot="end" href="javascript:void(0);" (click)="presentActionSheet()">
      <ion-icon size="large" name="cog"></ion-icon>
    </div>
    <ion-title>Profile</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <app-profile-details 
    *ngIf="userResult?.data?.me as user"
    href="javascript:void(0);" 
    (click)="userActionSheet()" 
    [user]="user" 
    [showLastOnline]="false">
  </app-profile-details>

  <ion-list>
    <ion-list-header class="ion-padding-bottom">
      <ion-text>Your Hubs</ion-text>
    </ion-list-header>

    <ion-card *ngIf="!loading && !filteredUsersHubs?.length">
      <ion-item lines="none" href="javascript:void(0);" (click)="goToAddHubPage()">
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Create a community Hub and receive notifications when people gather.
      </ion-card-content>
      </ion-item>
    </ion-card>

    <ion-item *ngFor="let userHub of filteredUsersHubs; trackBy: userTrackByHub" href="javascript:void(0);" (click)="adminHub(userHub.hubId)">
      <ion-avatar slot="start">
        <ion-img width="100%" *ngIf="userHub.hub.image" src="{{userHub.hub.image}}"></ion-img>
      </ion-avatar>
      <ion-label>
        <ion-text>{{userHub.hub.name}}</ion-text>
        <p>
          <ion-text *ngIf="userHub.hub.active" color="success">Active</ion-text>
          <ion-text *ngIf="!userHub.hub.active" color="medium">Inactive</ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header class="ion-padding-bottom">
      <ion-text>Your Events</ion-text>
    </ion-list-header>

    <ion-card *ngIf="!loading && !filteredUsersEvents?.length">
      <ion-item lines="none" href="javascript:void(0);" (click)="goToCreateEventPage()">
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Create an event and invite guests!
      </ion-card-content>
      </ion-item>
    </ion-card>

    <ion-item *ngFor="let userEvent of filteredUsersEvents; trackBy: trackByEvent" href="javascript:void(0);" (click)="adminEvent(userEvent.eventId)">
      <ion-avatar slot="start">
        <ion-img width="100%" *ngIf="userEvent?.event?.image" src="{{userEvent?.event?.image}}"></ion-img>
      </ion-avatar>
      <ion-label>
        <ion-text>{{userEvent?.event?.name}}</ion-text>
        <p>{{userEvent?.event?.startDateTime | amDateFormat:'ddd ll'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>