<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Discover</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div *ngFor="let item of organizedFileUploads | keyvalue">
    <ion-list-header class="ion-padding-bottom">
      <ion-text>{{item.key}}</ion-text>
    </ion-list-header>

    <div class="pins">
      <ion-card class="pin" *ngFor="let fileJoin of item.value; let i = index">
          <img [src]="fileJoin?.file?.url" tappable (click)="openPreview(i, item.key)">
      </ion-card>
    </div>
  </div>

</ion-content>