<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form [formGroup]="myForm" (ngSubmit)="save()" method="post">
    <ion-list>

      <ion-list-header class="ion-padding-bottom">
        <ion-text>Event Details</ion-text>
      </ion-list-header>
  
      <ion-item>
        <ion-input type="text" formControlName="hubName" placeholder="Event name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-text>All day</ion-text>
        </ion-label>
        <ion-toggle class="ion-float-right"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          <ion-text>Start</ion-text>
        </ion-label>
        <ion-textarea type="text" formControlName="hubDescription"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          <ion-text>End</ion-text>
        </ion-label>
        <ion-textarea type="text" formControlName="hubDescription"></ion-textarea>
      </ion-item>

      <ion-list-header class="ion-padding-bottom">
        <ion-text>Description</ion-text>
      </ion-list-header>

      <ion-item>
        <ion-textarea type="text" formControlName="hubDescription" placeholder="Add description"></ion-textarea>
      </ion-item>

      <ion-list-header class="ion-padding-bottom">
        <ion-text>Location</ion-text>
      </ion-list-header>

      <ion-item>
        <ion-textarea type="text" formControlName="hubDescription" placeholder="Location"></ion-textarea>
      </ion-item>


      <ion-list-header class="ion-padding-bottom">
        <ion-text>Photo</ion-text>
      </ion-list-header>

      <ion-item>
        <ion-label position="stacked">
          <ion-text>Image</ion-text>
          <ion-button class="ion-float-right" color="primary">Upload Image
          </ion-button>
        </ion-label>
      </ion-item>

    </ion-list>
  </form>

</ion-content>

<ion-footer translucent="true">
  <ion-toolbar style="padding-bottom: 0;">
    <ion-button [disabled]="myForm.invalid" (click)="save()" type="submit" expand="full" color="primary">Create
    </ion-button>
  </ion-toolbar>
</ion-footer>
