<div *ngIf="enableSearch">
  <ion-searchbar debounce="1000" (ionInput)="debouncedSearchFunc($event)" showCancelButton="focus"></ion-searchbar>
  <ion-list *ngIf="searchResults">
      <ion-item *ngFor="let result of searchResults" (click)="selectSearch(result)">{{ result.label }}</ion-item>
    </ion-list>
</div>
<mgl-map
  #map
  [style]="style"
  [center]="[center?.longitude, center?.latitude]"
  [zoom]="8"
  [minZoom]="1"
  [pitch]="10"
  [antialias]="true"
  (mapLoad)="onMapLoad($event)"
  [attributionControl]="false"
  [dragRotate]="showControls"
  [touchZoomRotate]="showControls"
  [doubleClickZoom]="showControls"
  [scrollZoom]="showControls"
  [keyboard]="showControls"
  [dragPan]="showControls"
>
  <!-- Map Configuration -->
  <mgl-control
    mglNavigation
    [showCompass]="showControls"
    [showZoom]="false"
  ></mgl-control>
  <mgl-control
    mglAttribution
    [compact]="true"
    [position]="attributionLocation"
  ></mgl-control>

  <!-- Users Animated Location Dot -->
  <!-- <mgl-image
  [id]="'pulsing-dot'"
  [data]="yourLocationPulsingDot"
  >
  </mgl-image>
  <mgl-geojson-source
    [id]="'yourLocationPulsingDotPoint'"
    [data]="yourLocationPulsingDotGeoData"
  ></mgl-geojson-source>
  <mgl-layer
    [id]="'yourLocationPulsingDotPoint'"
    [type]="'symbol'"
    [source]="'yourLocationPulsingDotPoint'"
    [layout]="{  }"
  ></mgl-layer> -->

  <!-- Location Markers -->
  <mgl-marker
  *ngFor="let location of locations"
  [lngLat]="[location?.longitude, location?.latitude]"
  (onclick)="markerOnClick(location)"
  >
  <div class="map-pin">
    <div class="pin-point" [ngStyle]="{'background-color': location?.active ?  'var(--ion-color-success)' : 'var(--ion-color-medium)'}"></div>
    <div
      class="map-pin-image"
      [ngStyle]="{'background-image': 'url(' + location?.image + ')'}"
    ></div>
  </div>

  <!-- <ion-avatar >
    <img [src]="location?.image">
  </ion-avatar> -->
</mgl-marker>
</mgl-map>
<!-- <div *ngIf="enableSearch">
    <ion-modal #modal trigger="open-modal" [initialBreakpoint]="modalInitialBreakpoint" [breakpoints]="[0, 0.25, 0.5, 0.75]" [isOpen]="true">
      <ng-template>
        <ion-content>
          <ion-searchbar debounce="1000" (ionInput)="debouncedSearchFunc($event)" showCancelButton="focus"></ion-searchbar>
          <ion-list *ngIf="searchResults">
            <ion-item *ngFor="let result of searchResults" (click)="selectSearch(result)">{{ result.label }}</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
</div> -->