<!-- ionTabsDidChange workaround to get page lifecycle hooks working as expected https://github.com/ionic-team/ionic-framework/issues/16834#issuecomment-631676434  -->
<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom" translucent="true" *ngIf="isMobile()">
    <ion-tab-button tab="people">
      <ion-icon color="dark" [name]="selectedTabName === 'people' ? 'people' : 'people-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon color="dark" [name]="selectedTabName === 'home' ? 'ellipse' : 'ellipse-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon color="dark" [name]="selectedTabName === 'events' ? 'calendar' : 'calendar-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notifications" *ngIf="environment.featureFlags.notificationsPage">
      <ion-icon color="dark" name="notifications"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom" translucent="true" *ngIf="!isMobile()">
    <ion-tab-button tab="people">
      <ion-icon color="dark" [name]="selectedTabName === 'people' ? 'people' : 'people-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon color="dark" [name]="selectedTabName === 'home' ? 'ellipse' : 'ellipse-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon color="dark" [name]="selectedTabName === 'events' ? 'calendar' : 'calendar-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notifications" *ngIf="environment.featureFlags.notificationsPage">
      <ion-icon color="dark" name="notifications"></ion-icon>
    </ion-tab-button>
    <!-- Why have this here? isMobile will always be false because it's in the not mobile block.
    <ion-tab-button tab="profile" *ngIf="isMobile()">
      <ion-icon color="dark" [name]="selectedTabName === 'profile' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
    -->
  </ion-tab-bar>
</ion-tabs>