<ion-card>
  <div *ngIf="!compact">
    <ion-img *ngIf="hub.image" class="cliped" ngClass="right-box" src="{{hub.image}}"></ion-img>
  </div>
  <ion-thumbnail class="ion-float-left" style="--size: 110px;" *ngIf="compact && hub?.image">
    <ion-skeleton-text *ngIf="!hub.image" animated></ion-skeleton-text>
    <ion-img *ngIf="hub.image" width="100%" ngClass="right-box" src="{{hub.image}}"></ion-img>
  </ion-thumbnail>
    <ion-grid class="reset-grid-padding">
      <ion-row>
        <ion-col>
          
          <ion-row *ngIf="!compact" style="align-items: center;">
            <ion-col>
              <ion-card-title *ngIf="hub?.name" class="ion-float-left">{{hub.name}}</ion-card-title>
              <ion-skeleton-text *ngIf="!hub?.name" animated></ion-skeleton-text>
              <ion-icon *ngIf="muted" name="volume-mute-outline" style="padding-left:10px;"></ion-icon>
            </ion-col>
            <ion-col size="auto" *ngIf="isOwner">
                  <ion-toggle
                    class="ion-float-right"
                    mode="md"
                    color="success"
                    [checked]="hub?.active"
                    (ionChange)="activeToggle($event)"
                    aria-label="Toggle hub activity">
                  </ion-toggle>
            </ion-col>
          </ion-row>
          
          <ion-row *ngIf="compact">
            <ion-col>
              <ion-card-subtitle *ngIf="hub?.name" class="ion-float-left">{{hub.name}}</ion-card-subtitle>
              <ion-skeleton-text *ngIf="!hub?.name" animated></ion-skeleton-text>
              <ion-icon *ngIf="muted" name="volume-mute-outline" style="padding-left:10px;"></ion-icon>
            </ion-col>

          </ion-row>

          <ion-row *ngIf="!adminControls">
            <ion-col *ngIf="!compact">
              <ion-card-subtitle *ngIf="hub?.active" color="success">
                {{presentCount}} / {{hub?.usersConnection.length}} present</ion-card-subtitle>

              <ion-card-subtitle *ngIf="!hub?.active" color="medium">Inactive</ion-card-subtitle>

              <ion-skeleton-text animated style="width: 80%" *ngIf="!atHub && !distanceInMiles"
              ></ion-skeleton-text>

              <ion-card-subtitle *ngIf="!atHub && distanceInMiles">{{distanceInMiles.toFixed(1)}} miles away
              </ion-card-subtitle>

              <ion-card-subtitle *ngIf="atHub">you're here!</ion-card-subtitle>

              <ion-text *ngIf="showDescription">
                <p *ngIf="hub?.description" >{{hub?.description}}</p>
                <ion-skeleton-text *ngIf="!hub" animated></ion-skeleton-text>
              </ion-text>

              <ion-text>
                <p *ngIf="hub?.locationLabel" >{{hub?.locationLabel}}</p>
                <ion-skeleton-text *ngIf="!hub" animated></ion-skeleton-text>
              </ion-text>

            </ion-col>

            <ion-col *ngIf="compact">
              <ion-row>
              <ion-text *ngIf="hub?.active" color="success">
                {{presentCount}} / {{hub?.usersConnection.length}} present</ion-text>

              <ion-text *ngIf="!hub?.active" color="medium">Inactive</ion-text>
              </ion-row>
              <ion-row>

              <ion-skeleton-text animated style="width: 80%" *ngIf="!atHub && !distanceInMiles"
              ></ion-skeleton-text>
              

              <ion-text *ngIf="!atHub && distanceInMiles"><br>{{distanceInMiles.toFixed(1)}} miles away</ion-text>
              
              <ion-text *ngIf="atHub"><br>You're here!</ion-text>
              </ion-row>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>

  <div *ngIf="includeMap" style="height: 90px;">
      <app-maplibre 
        [center]="hub"
        [locations]="[hub]"
        [yourLocation]="locationService?.location"
        [attributionLocation]="'bottom-right'"
      ></app-maplibre>
  </div>

<div *ngIf="!compact">
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-padding-start ion-padding-end">
        <ion-col [appFeatureFlag]="'uberRequestRide'">
          <ion-button expand="block" color="medium" fill="clear" (click)="requestRide()">
            <ion-icon style="font-size: 64px;" src="assets/icons/Uber_Logo_White_RGB.svg"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium" fill="clear" (click)="navigate()">
            <ion-icon name="map"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</div>
</ion-card>