<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
    <ion-progress-bar *ngIf="loading || !locationService.location" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <app-leaflet-map
      *ngIf="locationService.location"
      [center]="center || locationService.location" 
      [locations]="hubs"
      [yourLocation]="locationService.location"
      [navOnMarker]="true" 
      [showControls]="true"
      [enableSearch]="true"
      (searchSelected)="onSearchSelected($event)"
      (loading)="onMapLoading($event)"
    ></app-leaflet-map>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar>
    <ion-button (click)="save()" type="submit" expand="block" color="primary">Save</ion-button>
  </ion-toolbar>
</ion-footer>
