<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
    <ion-progress-bar *ngIf="loading || !locationService.location" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <app-maplibre 
    *ngIf="locationService.location" 
    [center]="locationService.location" 
    [yourLocation]="locationService.location" 
    [locations]="locations"
    [navOnMarker]="true" 
    [showControls]="true"
    [enableSearch]="false"
    (searchSelected)="onSearchSelected($event)"
    (loading)="onMapLoading($event)"
  ></app-maplibre>
  <ion-skeleton-text
    [hidden]="locationService.location" 
    animated 
    style="height: 100%;"
  ></ion-skeleton-text>
</ion-content>
