<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="register()" method="post">
    <ion-item>
      <ion-input formControlName="firstName" placeholder="First Name"></ion-input>
      <ion-text *ngIf="firstName.invalid && firstName.touched" class="ion-padding ion-text-center" color="danger">
        Required
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-input formControlName="lastName" placeholder="Last Name"></ion-input>
      <ion-text *ngIf="lastName.invalid && lastName.touched" class="ion-padding ion-text-center" color="danger">
        Required
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Birth Year</ion-label>
      <ion-datetime presentation="year" formControlName="birthdate" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-text *ngIf="birthdate.invalid" class="ion-padding ion-text-center" color="danger">
        Must be at least {{ageRestriction}} years of age.
    </ion-text>

    <ion-row>
      <ion-col size="4" class="ion-no-padding">
        <ion-item>
          <ion-label position="floating">Country</ion-label>
          <ion-select value="US">
            <div *ngFor="let country of countries">
              <ion-select-option value="{{country.region}}">{{country.flag}} +{{country.code}} {{country.region}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="8" class="ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input type="tel" formControlName="phoneNumber" placeholder="(555) 555-5555" [value]="phoneNumber.value | phoneNumberFormatter:'US'"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
      <ion-text *ngIf="email.invalid && email.touched" class="ion-padding ion-text-center" color="danger">
        Please enter a valid email address
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
      <ion-text *ngIf="password.invalid && password.touched" class="ion-padding ion-text-center" color="danger">
        Must be at least 10 characters
      </ion-text>
    </ion-item>

    <br />

    <ion-button class="ion-padding-start ion-padding-end" [disabled]="myForm.invalid" type="submit" expand="block" color="danger">Register</ion-button>
    <ion-text class="ion-padding ion-text-center ion-float-end" color="medium">
      <p>
        By creating an account, you acknowledge reading our <a (click)="navigateToPrivacyPolicy()">Privacy Policy</a> and agree to our <a (click)="navigateToTermsAndConditions()">Terms & Conditions</a>.
      </p>
  </ion-text>
  </form>
</ion-content>