<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="register()" method="post">
    <ion-item>
      <ion-input type="text" appAutofill ngDefaultControl formControlName="firstName" placeholder="First Name" autocomplete="given-name"></ion-input>
      <ion-text *ngIf="firstName.invalid && firstName.touched" class="ion-padding ion-text-center" color="danger">
        Required
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-input type="text" appAutofill ngDefaultControl formControlName="lastName" placeholder="Last Name" autocomplete="family-name"></ion-input>
      <ion-text *ngIf="lastName.invalid && lastName.touched" class="ion-padding ion-text-center" color="danger">
        Required
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-input type="numeric" appAutofill ngDefaultControl formControlName="birthdate" placeholder="Birth Year" autocomplete="bday-year"></ion-input>
      <ion-text *ngIf="birthdate.invalid && birthdate.touched" class="ion-padding ion-text-center" color="danger">
        Must be at least {{ageRestriction}} years of age.
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input appAutofill type="tel" ngDefaultControl formControlName="phoneNumber" placeholder="+1 555-555-5555" [value]="phoneNumber.value | phoneNumberFormatter" autocomplete="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input appAutofill type="email" ngDefaultControl formControlName="email" placeholder="Email" autocomplete="email"></ion-input>
      <ion-text *ngIf="email.invalid && email.touched" class="ion-padding ion-text-center" color="danger">
        Please enter a valid email address
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-input type="password" ngDefaultControl formControlName="password" placeholder="Password"></ion-input>
      <ion-text *ngIf="password.invalid && password.touched" class="ion-padding ion-text-center" color="danger">
        Must be at least 10 characters
      </ion-text>
    </ion-item>

    <br />

    <ion-button class="ion-padding-start ion-padding-end" [disabled]="myForm.invalid" type="submit" expand="block" color="danger">Register</ion-button>
    <ion-text class="ion-padding ion-text-center ion-float-end" color="medium">
      <p>
        By creating an account, you acknowledge reading our <a (click)="navigateToPrivacyPolicy()">Privacy Policy</a> and agree to our <a (click)="navigateToTermsAndConditions()">Terms & Conditions</a>.
      </p>
  </ion-text>
  </form>
</ion-content>