<ion-content fullscreen="true">
  <swiper [config]="config" #swiper (pagination)="true" *ngIf="!fileJoins?.length && files?.length">
    <ng-template swiperSlide *ngFor="let file of files">
      <div class="swiper-zoom-container">
        <img [src]="file?.url">
      </div>
    </ng-template>
  </swiper>
  <swiper [config]="config" #swiper (pagination)="true" *ngIf="fileJoins?.length">
    <ng-template swiperSlide *ngFor="let fileJoin of fileJoins">
      <ion-item lines="none" tappable>
        <ion-avatar slot="start">
          <ion-img width="100%" [src]="fileJoin?.hub?.image || fileJoin?.event?.image"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-text>{{fileJoin?.hub?.name || fileJoin?.event?.name}}</ion-text>
          </h2>
          <p>
            Uploaded {{fileJoin?.file?.createdOn | amLocal | amDateFormat: 'LL h:mm a'}} 
            {{fileJoin?.file?.createdBy?.firstName && 'by ' + fileJoin?.file?.createdBy?.firstName}}
          </p>
        </ion-label>
      </ion-item>
      <div class="swiper-zoom-container">
        <img [src]="fileJoin?.file?.url">
      </div>
    </ng-template>
  </swiper>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="4" class="ion-text-center ">
      <ion-button (click)="back()" fill="clear">
         <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center ">
      <ion-button (click)="close()" fill="clear">
         <ion-icon name="close" slot="start"></ion-icon>
         close
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center ">
      <ion-button (click)="next()" fill="clear">
         <ion-icon name="arrow-forward-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>