<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="qrcodeImage center" *ngIf="showCode">
    <qrcode
      [qrdata]="'https://github.com/Cordobo/angularx-qrcode'"
      [allowEmptyString]="true"
      [ariaLabel]="'QR Code image with the following content...'"
      [cssClass]="'center'"
      [colorDark]="'#000000ff'"
      [colorLight]="'#ffffffff'"
      [elementType]="'canvas'"
      [errorCorrectionLevel]="'M'"
      [imageSrc]="'http://localhost:8080/file/7845cf50-6929-11ed-a75c-a98b2dec0e07.webp'"
      [imageHeight]="75"
      [imageWidth]="75"
      [margin]="1"
      [scale]="1"
      [title]="'A custom title attribute'"
      [width]="300"
    ></qrcode>
  </div>
  <div *ngIf="!showCode" class="scanBox"></div>

  <ion-fab *ngIf="!showCode" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleTorch()">
      <ion-icon name="flashlight-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer translucent="true">
  <ion-toolbar>
    <ion-segment value="show-code" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="scan-code">
        <ion-label>Scan code</ion-label>
      </ion-segment-button>
      <ion-segment-button value="show-code">
        <ion-label>Show code</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>