<ion-card>
  <ion-img *ngIf="userEvent?.event?.image" (click)="goToEventPage()" src="{{userEvent.event.image}}"></ion-img>
  <ion-card-header (click)="goToEventPage()">
    <ion-card-subtitle class="ion-float-left">Monday, May 30, 2022</ion-card-subtitle>
    <ion-card-subtitle class="ion-float-right">6:30 PM to 8:00 PM</ion-card-subtitle>
  </ion-card-header>
  <ion-card-header (click)="goToEventPage()">
    <ion-card-title>{{userEvent?.event?.name}}</ion-card-title>
  </ion-card-header>

  <!-- <ion-card-content>
    Join for house warming party!
  </ion-card-content> -->

  <ion-card-content>
    <ion-segment>
      <ion-segment-button value="going">
        <ion-label>Going</ion-label>
      </ion-segment-button>
      <ion-segment-button value="maybe">
        <ion-label>Maybe</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cantgo">
        <ion-label>Can't Go</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card-content>
</ion-card>