<ion-card>
  <ion-img (click)="goToEventPage()" src="https://lazztech-hub-service-z84zo.ondigitalocean.app/file/bb06c3e0-cd60-11ec-8708-ab51b4e23219.jpg"></ion-img>
  <ion-card-header (click)="goToEventPage()">
    <ion-card-subtitle class="ion-float-left">Monday, May 30, 2022</ion-card-subtitle>
    <ion-card-subtitle class="ion-float-right">6:30 PM to 8:00 PM</ion-card-subtitle>
  </ion-card-header>
  <ion-card-header (click)="goToEventPage()">
    <ion-card-title>My First Demo Event</ion-card-title>
  </ion-card-header>

  <!-- <ion-card-content>
    Join for house warming party!
  </ion-card-content> -->

  <ion-card-content>
    <ion-segment>
      <ion-segment-button value="going">
        <ion-label>Going</ion-label>
      </ion-segment-button>
      <ion-segment-button value="maybe">
        <ion-label>Maybe</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cantgo">
        <ion-label>Can't Go</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card-content>
</ion-card>