<ion-card>
  <ion-img *ngIf="(event || userEvent?.event)?.image" (click)="goToEventPage()" src="{{(event || userEvent?.event)?.image}}"></ion-img>
  <ion-card-header (click)="goToEventPage()">
    <ion-card-subtitle>Starts {{(event || userEvent?.event)?.startDateTime | amDateFormat:'ddd ll h:mm A'}}</ion-card-subtitle>
    <ion-card-subtitle *ngIf="(event || userEvent?.event)?.endDateTime">Ends {{(event || userEvent?.event)?.endDateTime | amDateFormat:'ddd ll h:mm A'}}</ion-card-subtitle>

    <ion-card-subtitle *ngIf="(event || userEvent?.event)?.createdBy">
      Created by {{(event || userEvent?.event)?.createdBy?.firstName}} {{(event || userEvent?.event)?.createdBy?.lastName}}
    </ion-card-subtitle>
    <ion-text *ngIf="(event || userEvent?.event)?.locationLabel">{{(event || userEvent?.event)?.locationLabel}}</ion-text>
  </ion-card-header>

  <ion-card-content *ngIf="!showRsvp" (click)="goToEventPage()">
    <ion-card-title>{{(event || userEvent?.event)?.name}}</ion-card-title>
  </ion-card-content>

  <ion-card-content *ngIf="showRsvp">
    <ion-card-title>{{(event || userEvent?.event)?.name}}</ion-card-title>
    <ion-text *ngIf="(event || userEvent?.event)?.description">{{(event || userEvent?.event)?.description}}</ion-text>
  </ion-card-content>

  <ion-card-content *ngIf="showRsvp">
    <ion-item class="matchedItemBackground ion-no-padding" lines="none">
      <ion-label style="font-weight: 700;">RSVP</ion-label>
      <ion-select placeholder="No Reply" interface="popover" style="font-weight: 700;" [value]="userEvent?.rsvp" (ionChange)="segmentChanged($event)">
        <ion-select-option value="going">Going</ion-select-option>
        <ion-select-option value="maybe">Maybe</ion-select-option>
        <ion-select-option value="cantgo">Can't Go</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
  <div *ngIf="includeMap && (event || userEvent?.event)?.latitude && (event || userEvent?.event)?.longitude" style="height: 90px;">
    <app-leaflet-map [center]="(event || userEvent?.event)"></app-leaflet-map>
  </div>
</ion-card>