

ion-row{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-pic-wrapper{
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
}

ion-avatar,
ion-avatar > img{
    margin: auto;
    border-radius:50%;
    height:8rem;
    width:8rem;
}

.avatar-fab {
  position: absolute;
  right: -8px; 
  bottom: -8px;
}

.avatar-fab ion-fab-button ion-icon {
  font-size: 18px;
}