<ion-header translucent="true">
<ion-toolbar>
    <ion-text>
        Install Lazztech Noun
    </ion-text>
</ion-toolbar>
</ion-header>
<ion-content>
    <ion-card-header>
        <ion-card-subtitle>Install the app on your device to easily access it anytime. No app store. No download. No hassle.</ion-card-subtitle>
    </ion-card-header>
    <ion-list [inset]="true">
        <ion-item>
        <ion-label>1. Tap on the <ion-icon name="share-outline"></ion-icon></ion-label>
        </ion-item>
        <ion-item>
        <ion-label>2. Select "Add to Home Screen"</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
