<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons [appFeatureFlag]="'statusPage'" slot="start">
        <ion-icon size="large" name="navigate-circle" (click)="goToStatusPage()"></ion-icon>
    </ion-buttons>
    <ion-title (click)="devModeEasterEgg()">
      LAZZTECH HUB
    </ion-title>

    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <!-- <div href="javascript:void(0);" (click)="goToNotifications()" lines="none" slot="end">
        <ion-badge *ngIf="inAppNotificationCount >= 1" mode="md" style="position: absolute; z-index: 2;">{{inAppNotificationCount}}</ion-badge>
        <ion-icon size="large" name="notifications"></ion-icon>
    </div> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

    <ion-searchbar (ionInput)="filterHubs($event)" showCancelButton="focus"></ion-searchbar>

    <ion-card *ngIf="locationService.location" style="height:30%" (click)="goToMap()">
          <app-leaflet-map [center]="locationService.location" [yourLocation]="locationService.location" [navOnMarker]="true" [locations]="hubs"></app-leaflet-map>
    </ion-card>

    <ion-card *ngIf="!locationService.location" style="height:30%">
      <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
    </ion-card>

      <ion-item lines="none" href="javascript:void(0);">
        <ion-card-header>
          <ion-card-subtitle color="warning">
            Warning
          </ion-card-subtitle>
        </ion-card-header>
        <ion-icon slot="end" name="warning-outline" color="warning"></ion-icon>
        <ion-card-content>
          Finish your account set up to ensure you're able to recover your account if signed out!
      </ion-card-content>
      </ion-item>

      <ion-list *ngIf="invites?.length">
        <ion-list-header>
            <ion-text>Invites</ion-text>
        </ion-list-header>
        <div *ngFor="let invite of invites">
          <app-hub-card
          [hub]="invite.hub"
          [coords]="locationService.location"
          (click)="goToPreviewHubPage(invite.id)"></app-hub-card>
        </div>
    </ion-list>

      <ion-list *ngIf="filter === ''">
          <ion-list-header>
              <ion-text>Hubs</ion-text>
          </ion-list-header>

          <ion-item lines="none" *ngIf="!loading && !userHubs?.length">
            <ion-card-header>
              <ion-card-subtitle>Get Started</ion-card-subtitle>
            </ion-card-header>
            <ion-icon slot="end" name="arrow-down"></ion-icon>
            <ion-card-content>
              Create a community Hub and receive notifications when people gather.
          </ion-card-content>
          </ion-item>
          
          <div *ngFor="let userHub of userHubs; trackBy: userTrackByHub">
            <app-hub-card
            [hub]="userHub.hub"
            [coords]="locationService.location"
            [starred]="userHub.starred"
            [muted]="userHub.muted"
            [isOwner]="userHub.isOwner"
            (click)="goToHubPage(userHub.hubId)"></app-hub-card>
          </div>
      </ion-list>

      <ion-list *ngIf="filter !== ''">
        <ion-list-header>
            <ion-text>Hubs</ion-text>
        </ion-list-header>
        <div *ngFor="let userHub of filteredUserHubs; trackBy: userTrackByHub">
          <app-hub-card
          [hub]="userHub.hub"
          [coords]="locationService.location"
          [starred]="userHub.starred"
          [muted]="userHub.muted"
          [isOwner]="userHub.isOwner"
          (click)="goToHubPage(userHub.hubId)"></app-hub-card>
        </div>
    </ion-list>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goToAddHubPage()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
