<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Hub</ion-title>
      <ion-icon
        slot="end"
        size="large"
        name="trash-outline"
        (click)="deleteHub()"
      ></ion-icon>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list *ngIf="userHub?.data?.hub">
    <ion-list-header class="ion-padding-bottom">
      <ion-label>Hub Details</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <ion-text *ngIf="active" color="success">Active</ion-text>
        <ion-text *ngIf="!active" color="medium">Inactive</ion-text>
      </ion-label>
      <ion-toggle [(ngModel)]="active" (click)="toggleActivity()" class="ion-float-right"
        color="success"></ion-toggle>
    </ion-item>

    <form *ngIf="userHub" [formGroup]="myForm" method="post">

      <ion-item>
        <ion-input *ngIf="userHub" formControlName="hubName" placeholder="Hub name"></ion-input>
        <ion-label>
          <ion-text *ngIf="hubName.invalid" color="danger">*</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-textarea *ngIf="userHub"
          formControlName="hubDescription" placeholder="Add description"></ion-textarea>
      </ion-item>

      <ion-list-header class="ion-padding-bottom">
        <ion-text>Location</ion-text>
      </ion-list-header>

      <ion-item>
        <ion-input readonly type="text" placeholder="Location" [value]="location?.value?.label || location?.value?.locationLabel" (click)="toggleMapModal()"></ion-input>
      </ion-item>

      <ion-list-header class="ion-padding-bottom">
        <ion-text>Photo</ion-text>
      </ion-list-header>

      <ion-item>
        <ion-button class="ion-float-right" color="primary" (click)="presentActionSheet()">Upload Image</ion-button>
      </ion-item>

      <ion-card *ngIf="image">
        <ion-img src="{{image}}"></ion-img>
      </ion-card>

    </form>

    <ion-list-header>
      <ion-label>Sharing</ion-label>
    </ion-list-header>

    <p class="ion-padding-start ion-padding-end ion-text-center">
      <ion-text color="medium">Reset the shareable ID if you want to stop users from joining or re-joining via a previously shared link.</ion-text>
    </p>

    <ion-button color="danger" expand="block" class="ion-padding-start ion-padding-end" (click)="invalidateShareableLinks()">
      Reset Shareable Link
    </ion-button>


    <ion-list-header class="ion-padding-bottom">
      <ion-label>Members</ion-label>
    </ion-list-header>

    <div *ngFor="let item of alphabetizedMembers | keyvalue">
      <div *ngIf="item?.value?.length">
        <ion-item-divider>
          <ion-label>
            {{item?.key | uppercase}}
          </ion-label>
        </ion-item-divider>
      </div>
      <div *ngFor="let userConnection of item.value">
        <ion-item-sliding #slidingItem>
        <ion-item href="javascript:void(0);" (click)="goToPersonPage(userConnection.user.id, userConnection.user)">
          <ion-avatar slot="start">
            <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!userConnection.user.image" src="{{userConnection.user.id | avatar}}">
            <ion-img width="100%" *ngIf="userConnection.user.image" src="{{userConnection.user.image}}"></ion-img>
          </ion-avatar>
          <ion-label>
            <h3 class="ion-float-left">
              <ion-text>{{userConnection.user.firstName}} {{userConnection.user.lastName}}</ion-text>
            </h3>
            <p *ngIf="userConnection.isOwner" class="ion-float-right">
              <ion-text>Admin</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeUserFromHub(userConnection?.user?.id, slidingItem)" *ngIf="!userConnection.isOwner">
            remove
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </div>
    </div>

    <ion-list-header class="ion-padding-bottom">
      <ion-label>Invites</ion-label>
    </ion-list-header>

    <div *ngFor="let invite of invites?.data?.invitesByHub">
      <ion-item-sliding>
      <ion-item href="javascript:void(0);" (click)="goToPersonPage(invite.inviteesId, invite.invitee)">
        <ion-avatar slot="start">
          <img width="100%" [appFeatureFlag]="'adorableAvatarsUserImage'" *ngIf="!invite.invitee.image" src="{{invite.invitee.id | avatar}}">
          <ion-img width="100%" *ngIf="invite.invitee.image" src="{{invite.invitee.image}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h3 class="ion-float-left">
            <ion-text>{{invite.invitee.firstName}} {{invite.invitee.lastName}}</ion-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteInvite(invite.id)">
          remove
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </div>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleInviteModal()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer translucent="true">
  <ion-toolbar>
    <ion-button [disabled]="myForm?.invalid" (click)="save()" type="submit" expand="block">Save</ion-button>
  </ion-toolbar>
</ion-footer>

<ion-modal
[isOpen]="mapModalIsOpen"
[canDismiss]="true"
[presentingElement]="routerOutlet.nativeEl"
(didDismiss)="didDismissMapModal()"
>
<ng-template>
  <ion-header translucent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Map</ion-title>
      <ion-icon
      slot="end" 
      size="large"
      name="close-outline"
      (click)="didDismissMapModal()"
    ></ion-icon>
      <ion-progress-bar *ngIf="loading || !locationService.location" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen="true">
    <app-leaflet-map
      *ngIf="locationService.location"
      [center]="mapSearchSelection || locationService.location" 
      [locations]="[mapSearchSelection]"
      [yourLocation]="locationService.location"
      [navOnMarker]="true" 
      [showControls]="true"
      [enableSearch]="true"
      (searchSelected)="onSearchSelected($event)"
      (loading)="onMapLoading($event)"
    ></app-leaflet-map>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar>
    <ion-button [disabled]="!mapSearchSelection" (click)="selectLocation()" type="submit" expand="block" color="primary">Select Location</ion-button>
  </ion-toolbar>
</ion-footer>
</ng-template>
</ion-modal>

<ion-modal
#modal
[isOpen]="inviteModalIsOpen"
[canDismiss]="true"
[presentingElement]="routerOutlet.nativeEl"
(didDismiss)="didDismissInviteModal()"
>
<ng-template>
<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="modal.dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Invite</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <app-invite
    *ngIf="notYetInvitedPeople"
   [inviteType]="'hub'"
   [id]="id"
   [persons]="notYetInvitedPeople"
   [shareableLink]="'https://hub.lazz.tech/hub/' + userHub?.data?.hub?.hub?.shareableId"
   [qrData]="'https://hub.lazz.tech/hub/' + userHub?.data?.hub?.hub?.shareableId"
   [qrTitle]="userHub?.data?.hub?.hub?.name"
   [qrSubtitle]="'Scan to join hub @ ' + userHub?.data?.hub?.hub?.locationLabel"
   [modal]="modal"
  ></app-invite>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar>
    <ion-button expand="block" (click)="sendInvites()">Send
    </ion-button>
  </ion-toolbar>
</ion-footer>
</ng-template>
</ion-modal>