<ion-header translucent="true">
  <ion-toolbar>
     <ion-title>
       <div style="display: flex; align-items: center; justify-content: center;">
        <ion-icon *ngIf="mode === 'ios'" style="font-size: 140px;" [src]="themeService.isDark() ? 'assets/lazztech-noun-light.svg' : 'assets/lazztech-noun-dark.svg'"></ion-icon>
        <img *ngIf="mode === 'md'" [src]="themeService.isDark() ? 'assets/lazztech-noun-light.svg' : 'assets/lazztech-noun-dark.svg'" style="width: 140px" class="vertical-align"/>
      </div>
    </ion-title>

    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="6">
          <ion-card>
            <ion-img src="assets/illustrations/banner.jpg"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="6" class="ion-no-padding">
          <form [formGroup]="myForm" (ngSubmit)="login()" method="post">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" ngDefaultControl formControlName="email"></ion-input>
            </ion-item>
        
            <ion-text class="ion-padding ion-text-center" *ngIf="email.invalid && email.touched" color="danger">
                    Please enter a valid email address
            </ion-text>
          
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" ngDefaultControl formControlName="password"></ion-input>
            </ion-item>
            <ion-text class="ion-padding ion-text-center" *ngIf="password.invalid && password.touched" color="danger">
                    Please enter a password at least 10 characters
            </ion-text>

            <ion-row>
              <ion-col>
                <ion-button class="ion-padding-start" color="medium" expand="block" (click)="resetPassword()">Reset Password</ion-button>
              </ion-col>
              <ion-col>
                <ion-button class="ion-padding-end" [disabled]="myForm.invalid" type="submit" expand="block">Login</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="6">
        <br/>

          <ion-button expand="block" class="ion-padding-start ion-padding-end" color="success" (click)="expeditedRegistration()">Continue As Guest</ion-button>
          <ion-text class="ion-padding ion-float-start" color="medium">
              By clicking the button above, I hereby agree to and accept the following <a (click)="navigateToPrivacyPolicy()">privacy policy</a> and <a (click)="navigateToTermsAndConditions()">terms & conditions</a>.
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>